:root {
    --primary-azul: #56B3FA;
    --secundary-azul: #20417d;
    --third-azul: #172c54;
  }

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata.ttf') format('truetype');
} 

@font-face {
    font-family: 'MerriweatherItalic';
    src: url('../fonts/MerriweatherSans-Italic-VariableFont_wght.ttf') format('truetype');
} 

@font-face {
    font-family: 'MerriweatherSans';
    src: url('../fonts/MerriweatherSans-VariableFont_wght.ttf') format('truetype');
} 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    position: fixed;
    width: 100%;
    background-color: #13203d;
    top: 0;
    z-index: 1;

}

body{

    background-color: #13203d !important;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

.navbar-Container {
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-Links {
    height: 3rem;
    border-radius: 2rem;
}

.navbar-Button {
    border: none;
    cursor: pointer;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    background-color: none;
    list-style: none;  
    text-decoration: none;  
    font-family: 'Merriweather', monospace;
    color: whitesmoke;
    transition: .5s;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
}

.navbar-Button.active {
    color: #007bff; 
}

.navbar-Button:hover {
    color: #4a91c8;
}

.navbar-toggler{
    border: 1px var(--primary-azul) solid !important;
    background: none;
    height: 3rem;
    width: 3rem;
    padding: 0 !important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2886, 179, 250, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
} 

.button-Close{
    background: none;
    border: none;
    margin: calc(-.5* var(--bs-offcanvas-padding-y)) calc(-.5* var(--bs-offcanvas-padding-x)) calc(-.5* var(--bs-offcanvas-padding-y)) auto;
    padding: calc(var(--bs-offcanvas-padding-y)* .5) calc(var(--bs-offcanvas-padding-x)* .5);;
}

.upToHome{
    display: none;
    border: 1px var(--primary-azul) solid;
    padding: .5rem;
    height: 40px;
    color: white;
    cursor: pointer;
    position: fixed;
    right: 6px;
    bottom: 25px;
    border-radius: .5rem;
    transition: .5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3),
                0 5px 15px rgba(0, 0, 0, 0.3);
}

.upToHome:hover{
    transform: scale(1.05);
}

.home-container {
    margin-top: 5rem;
    height: 85vh;
    display: flex;
    align-items: center;
}

.title-page {
    color: var(--primary-azul);
    font-size: 3rem;
    margin-right: 15px;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    animation: fadeUp 1s ease;
}

.name-page {
    color: rgba(255, 255, 255, 0.885);
    font-size: 6rem;
    font-family: 'Merriweather',monospace;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
}

.h3-page {
    color: var(--primary-azul);
    font-size: 4rem;
    font-family: 'Merriweather', monospace;
    font-weight: bolder;
    line-height: 50px;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
}

.h4-page {
    font-size: 1.6rem;
    color: rgb(156 163 175);
    line-height: 2.3rem;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
}

.buttonHome{
    margin-top: 25px;
    font-size: 2rem;
    color: white;
    padding: .5rem 1.5rem;
    background-color: transparent;
    border: 1px var(--primary-azul) solid;
    transition: .3s;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    letter-spacing: .2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation: bounce .9s;
}

.buttonHome:hover{
    box-shadow: 1px 0px 12px 6px rgba(20, 80, 122, 0.75);
    border-radius: 15px;
    color: white;
    transform: scale(1.05);
}

.iconsHome{
    height: 40px; 
    color: rgb(248, 246, 246);
    transition: .5s;
}

.iconsHome:hover{
    transform: scale(1.15);
}

.experience-Container-Info{
    margin-bottom: 8rem;
}

.title-Experience{
    margin-bottom: 3rem;
    color: whitesmoke;
    font-size: 4rem;
    font-family: 'Merriweather', monospace;
    font-weight: bolder;
    line-height: 6rem;
    letter-spacing: .2rem;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
}

.title-Job-Experience{
    font-size: 2.5rem;
    color: var(--primary-azul);
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    font-weight: bolder;
    letter-spacing: .1rem;
    font-family: 'Merriweather', monospace;
}

.empresa-Experience{
    font-size: 1.8rem;
    color: whitesmoke;
    line-height: 2.3rem;
    letter-spacing: .1rem;

}

.p-Title-Experience{
    font-size: 1.6rem;
    color: rgb(156 163 175);
    line-height: 2.3rem;
    letter-spacing: .1rem;
}

.description-Experience{
    font-size: 1.6rem;
    color: rgb(226, 223, 223);
    line-height: 2.3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    
}

.description-Experience-Last{
    font-size: 1.6rem;
    color: rgb(226, 223, 223);
    line-height: 2.3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.title-Projects{
    color: whitesmoke;
    font-size: 2.1rem;
    font-family: 'Merriweather', monospace;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    margin-top: 2rem;
}

.card-Container{
    background-color: var(--third-azul);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25),
                0 10px 15px rgba(0, 0, 0, 0.15);  
    border-radius: 1.5rem;
    transition: .5s;
    border: 1px #273036 solid;
}

.card-Container:hover{
    transform: scale(1.05);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.3),
              0 10px 15px rgba(0, 0, 0, 0.2);
    
}

.title-Containers{
    margin-bottom: 2rem;
    padding-top: 2rem;
    font-size: 2.9rem;
    color: rgba(255, 255, 255, 0.885);
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    font-weight: bolder;
    letter-spacing: .1rem;
    font-family: 'Merriweather', monospace;
}

.badge-Projects{
    background-color: var(--third-azul);
    border: 1px white solid;
    text-align: center;
    border-radius: none;
}

.badge-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-Titulo{
    font-size: 1.3rem;
}

.badge-Img{
    height: 1.7rem;
}

.span-Point{
    padding-top: 2rem;
    font-size: 2.5rem;
    color: var(--primary-azul);
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    font-weight: bolder;
    letter-spacing: .1rem;
    font-family: 'Merriweather', monospace;
}

.project-Description{
    font-size: 1.4rem;
    color: rgba(239, 235, 235, 0.885);
    line-height: 2.3rem;
    letter-spacing: .1rem;
}

.card-img-top{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.code-button {
    display: inline-block;
    text-decoration: none;
    padding: .7rem;
    color: white;
    border: 1px var(--primary-azul) solid; 
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
}

.button-content {
    display: flex;
    align-items: center;
}

.button-content svg {
    margin-right: 5px;
}

.button-content span {
    font-weight: bold;
}

.code-button:hover {
    background-color: var(--secundary-azul);
    color: whitesmoke;
}

.title-AboutMe{
    padding: 2rem 0;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.885);
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    font-weight: bolder;
    letter-spacing: .1rem;
    font-family: 'Merriweather', monospace;
}

.aboutMe-Image-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.aboutMe-Image{
    height: 22.5rem;
}

.p-AboutMe{
    font-size: 1.5rem;
    color: rgb(209, 205, 205);
    line-height: 2.3rem;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
}

.strong-AboutMe{
    color: var(--primary-azul);
}

.card-Stack{
    background-color: var(--third-azul);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25),
                0 10px 15px rgba(0, 0, 0, 0.15);  
    border-radius: 2rem;
    transition: .3s;
    border: 1px #273036 solid;
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.card-Stack:hover{
    transform: scale(1.05);
}

.title-Stack{
    font-size: 2rem;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.885);
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    font-weight: bolder;
    letter-spacing: .1rem;
    font-family: 'Merriweather', monospace;
}

.p-Stack{
    font-size: 1.4rem;
    color: rgb(209, 205, 205);
    line-height: 2.3rem;
    letter-spacing: .1rem;
    text-shadow: 2px 2px 5px rgba(30, 29, 29, 0.5);
    margin-top: 1rem;
}

.icon-Tecnologias{
    background-color: white;
    border-radius: 4rem;
    border: 2px solid black;
    padding: .4rem;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
}

.contact-Form{
    background-color: var(--third-azul);
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', monospace;
    border-radius: 2rem;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    transition: .5s;
    color: white;
}

.contact-Form:hover{
    transform: scale(1.05);
}

.label-Title{
    font-size: 2rem;
    margin-top: 2rem;
}

.input-Contact{
    border: 2px var(--primary-azul) solid;
    background-color: var(--third-azul);
    height: 3rem;
    border-radius: .5rem;
    color: white;
    padding-left: 1rem;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.input-Contact:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-size: 1.3rem;
    padding-left: .5rem;
}

textarea{
    resize: none;
    height: 10rem !important;
}


.button-Enviar{
    margin-top: 25px;
    font-size: 2rem;
    color: white;
    padding: .5rem .7rem;
    background-color: transparent;
    border: 1px var(--primary-azul) solid;
    transition: .3s;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    letter-spacing: .2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.button-Enviar:hover{
    box-shadow: 1px 0px 12px 6px rgba(20, 80, 122, 0.75);
    border-radius: 15px;
    color: white;
    transform: scale(1.05);
}

.footerContainer{
    padding: 3rem;
    
}

.footer-Text{
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    
    header{
        padding: 0rem 2.9rem;
    }

    main{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .navbar-Container {
        display: flex;
        align-items: center;
        margin: auto;
        padding: 0rem 1rem;
        transition: background-color 0.3s ease;
    }

    .off-Canvas-Header{
        color: white;
    }

    .off-Canvas{
        background-color: var(--third-azul) !important;
    }

    .navbar-Button{
        font-size: 1.1rem;
        padding: 1rem 1rem;
        letter-spacing: 0;
    }

    
    .upToHome{
        padding: .5rem;
        height: 30px;
    }

    .home-container{
        height: 85vh;
        
    }

    .name-page{
        font-size: 4rem ;
    }

    .h3-page{
        font-size: 2.3rem;
    }

    .h4-page{
        font-size: 1.5rem;
    }

    .line-Padding{
        padding: 0 2.1rem;
    }

    .experience-Container-Info{
        margin-bottom: 3rem;
    }

    .description-Experience{
        margin-bottom: 8rem;
    }

    .description-Experience-Last{
        font-size: 1.5rem;
        color: rgb(226, 223, 223);
        line-height: 2.3rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    .title-Exp{
        padding: 0rem .1rem;
    }

    .title-Containers{
        font-size: 2rem;
        
    }

    .title-Job-Experience{
        font-size: 2rem;
    }

    .empresa-Experience{
        font-size: 1.7rem;
    }

    .p-Title-Experience{
        font-size: 1.4rem;
    }

    .description-Experience{
        font-size: 1.5rem;
    }

    .experience-Container{
        padding: 0 ;
        color: white;
    }

    .projects-Row-Container{
        padding: 0 ;
        color: white;
    }

    .title-Projects{
        font-size: 2rem;
        
    }

    .title-AboutMe{
        font-size: 2rem;
    }

    .aboutMe-Row-Container{
        padding: 0 ;
        color: white;
    }

    .aboutMe-Image-Container{
        margin-bottom: 4rem;
    }

    .p-AboutMe{
        font-size: 1.3rem;
    }

    ::placeholder{
        color: white;
        font-size: .9rem;
        padding-left: .1rem;
    }

    .button-Enviar{
        padding: 0;
    }
    
    .row{
        --bs-gutter-x: 0rem !important;
    }
}
